%html
  %head
    %title AltumCare
  %body(style="background: steelblue; color: #eeeeee; margin: 100px")
    %div(style="text-align: center")
      %div(style="font-size: 64pt; text-shadow: 0.1em 0.1em 0.05em #333") 
        AltumCare
      %div(style="font-size: 18pt; font-style: italic")
        Senior In-Home Assistance
      %div(style="margin: 150px; margin-top: 50px; font-size: 14pt")
        %div(style="text-align: left; float: left")
          Leonardo De Vera
          %br
          %a(href="mailto:ldevera@altumcare.com" style="color: #eeeeee; text-decoration: none") 
            ldevera@altumcare.com
          %br
          (650) 440 1955
        %div(style="text-align: left; float: right")
          Arvin Franco
          %br
          %a(href="mailto:afranco@altumcare.com" style="color: #eeeeee; text-decoration: none") 
            afranco@altumcare.com
          %br
          (925) 451 4225

