%html
  %head
    %title AltumCare
  %body(style="background: #444444; color: #eeeeee; margin: 100px")
    %div(style="text-align: center")
      %div(style="font-size: 64pt; text-shadow: 0.1em 0.1em 0.05em #333") 
        AltumCare, LLC
      %div(style="font-size: 18pt")
        (now a name, soon a legend...)
      %p
        %address(style="font-size: 12pt")
          %a(href="mailto:contact@altumcare.com" style="color: #eeeeee; text-decoration: none") 
            contact@altumcare.com
